bibliotecas/
projetos_verilog/
SMART/synthesis/xilinx/WORK/
SMART/rtl/verilog/coregen/*mem/
SMART/sim/rtl_sim/run/isim/
SMART/sim/rtl_sim/run/tb_openMSP430_fpga.vcd
**/.DS_Store
**/*.a43
**/*.elf
**/*.lst
**/*.size

SMART/sim/rtl_sim/run/*.log
SMART/sim/rtl_sim/run/pmem.*
SMART/sim/rtl_sim/run/stimulus.v
SMART/sim/rtl_sim/run/*.dsn
SMART/sim/rtl_sim/run/*.trn
SMART/sim/rtl_sim/run/*.vcd
SMART/sim/rtl_sim/run/simv
SMART/sim/rtl_sim/run/isim*
SMART/sim/rtl_sim/run/fuse*
SMART/sim/rtl_sim/run/pmem_*
SMART/sim/rtl_sim/run/erro*
SMART/sim/rtl_sim/run/*.mif

SMART/synthesis/xilinx/bitstreams/*
